<head>
<link rel="stylesheet" type="text/css" href="/css/application.css">
<title><%=@question.subject %></title>
</head>
<body>

<br>

Subject: <%= @question.subject %>
<br>

<br>
Description: <%= @question.description %>

</body>
