<head>
<link rel="stylesheet" type="text/css" href="/css/application.css">
<title><%=@question.subject %></title>
</head>
<body>

<br>

Subject: <%= @answer.subject %>
<br>

<br>
Description: <%= @answer.description %>
<a href="/answers">Click here to return to home page</a>


</body>
