
<h1>Welcome to Questions World!</h1>
<p>Question World is an online people space where you can ask questions and get answers from our friendly community of users. You can post a new question, or read through questions posted from other users. You can easily read through the anwers and find the one that suits you best; in doing so, you may vote up or down on the question (to which brings the particular question to higher or lower postion in the stack). You can also vote on the answers, and usually the answers that receive the highest votes, get the most attention! Be a star in our community, and join the conversation! Sign up blow for a new account, or log in if you are already an existing Answerer/Questioner! </p>


<h2>Login</h2>
<form method=post action=/login>
    <input type=text placeholder="Email" name="clinet[email]"><br>
    <input type=password placeholder="Password" name="clinet[password]"></br>
    <input type=submit value="Login">
</form>
<h2>Sign up</h2>
<form method="post" action="/newAccount">
  <input type="text" name="userEmail" placeholder="User Email or ID">
  <input type="password" name="userPassword" placeholder="Enter Password">
  <input type="text" name="cityName" placeholder="Current City">
  <input type="submit" value="Proceed">
</form>
 <br>
 <br>

<a href="https://en.wikipedia.org/wiki/Quora">Click Here to learn more<a/>
  <a href="/heyducksimhere">Coming Back? Sing right in here!</a>
  <!-- the path above should be the path also in the static.rb file, which is now connected to the index.erb file via the root call. -->

<!-- # <%= @var %> -->
<!-- # <%= x=3 %> -->
<!-- <a href="/contactUs">Get a hold of our representitive 24 hours a day</a>

<a href="/signUp">Sign Up for a free account today!</a>

<form method="post" action="/twist">

  <input type="Text" name="user_name">

  <input type="password" name="user_key">

  <input type="submit" name="" value="Enter!">


</form> -->
<!-- # <% x=100 %>
# <% y=10 %>
# <%= (x+y) * 10 %> -->
<%= @variable %>
<!-- having an '=' sign in front of the modulu '%' sign means the code after it is displayed -->
