<h2> sign up for a free account </h2>
<% if false %>
<%=  "this is true" %>
<!-- so we use an equal sign to display the string but otherwise we dont need the "=" -->
 <%else %>
  <%= "this is false" %>
  <%end%>

  <!--so to embed ruby code into erb filem, you must surround the code in <%  "code" %>
